.bodys {
  background-image: url("./assets/bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
  transition: 0.5s;
}

/* .imaggeSet {}
 */

/* .setingImage {

  width: 600px;
  position: absolute;
  margin-top: -10px;
  right: 0;
  margin-right: -40px;
} */